body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1420px;
    margin: auto;
}
a{
    text-decoration: none;
}
/*********************
 Navber section css style code start from here 
 *********************/
#navber{
    /* background-color: #fff4ed; */
    padding: 16px 0px;
}
#navber .nav{
    display: flex;
}
#navber .logo-area{
    width: 50%;
    cursor: pointer;
}
#navber .logo-area span{
    color: #fb974b;
}
#navber .nav-option{
    width: 50%;
    text-align: right;
}
#navber ul li{
    display: inline-block;
    list-style: none;
    padding-left: 40px;
}
#navber ul a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
#navber ul{
    margin-top: 26px;
}
/*********************
 Navber section css style code end here 
 *********************/


/*********************
 Banner section css style code start from here 
 *********************/
.banner{
    padding-bottom: 40px;
}
 .banner-area{
    display: flex;
}
.banner-area .banner-text{
    width: 45%;
    margin-right: 5%;
}
.banner-text h1{
    font-size: 55px;
    margin-top: 160px;
    color: #575757;
}
.banner-text span{
    color: #fb974b;
}
.banner-area .banner-img{
    width: 50%;
}
.banner-area p{
    color: #575757;
    font-size: 18px;
    width: 75%;
    margin-bottom: 50px;
}
.btn a{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(50deg, lightsalmon, tomato);
    padding: 15px 25px;
    border-radius: 30px;
    box-shadow: 0px 2px 14px 0px lightsalmon;
}
/*********************
 Banner section css style code end here 
 *********************/

/*********************
About section css style code start from here 
 *********************/
 .about-area{
    background-image: url(../imgs/Frame\ 58.jpg);
    width: 100%;
}
.about{
    display: flex;
}
.about .about-img{
    width: 50%;
    margin-left: 5%;
}
.about .about-text{
    width: 40%;
    margin-right: 5%;
}
.about h2{
    margin: 120px 0px 40px 0px;
    font-size: 32px;
    color: #575757;
}
.about p{
    font-size: 18px;
    color: #575757;
    text-align: justify;
    margin-bottom: 90px; 
}
/*********************
Recipies section css style code end here 
 *********************/

/*********************
Recipies section css style code start from here 
 *********************/
#recipies-area{
    padding: 60px 0px;
}
.recipies-header{
    text-align: center;
}
.recipies-header h2{
    font-size: 34px;
    color: #575757;
}
.recipies-header p{
    color: #575757;
    width: 40%;
    margin: auto;
    padding-bottom: 40px;
}
.recipies-item{
    display: flex;
    justify-content: space-between;
}
.recipies-item .recipies-item-1, .recipies-item-2 , .recipies-item-3{
    width: 25%;
    padding: 10px;
    padding: 10px;
    text-align: justify;
    border-radius: 15px;
    box-shadow: 2px 4px 19px -5px rgb(92 92 92);
}
/*********************
Recipies section css style code end here 
 *********************/

/*********************
social-media section css style code start here 
 *********************/
#social-media{
    padding: 40px 0px;
    text-align: center;
}
#social-media h2{
    font-size: 32px;
    font-weight: 700;
}
#social-media p{
    font-weight: 700;
    color: #575757;
}
.social-counter{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    box-shadow: 2px 4px 19px -5px rgb(92 92 92);
}
/*********************
social-media section css style code end here 
 *********************/
 .showcase{
    padding: 60px 0px;
}

.contact{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    
}
.contact .imgs{
    width: 40%;
} 
.contact form{
    width:40%;
}
form h3{
    font-size: 28px;
    color: #575757;
}
.name{
    width: 80%;
    margin: 5px 0px;
    padding: 10px ;
    background-color:#e6e6e6;
    border: 1px solid transparent;
    border-radius: 40px;
}
textarea{
    width: 80%;
    margin: 5px 0px;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 18px;
    padding: 10px;
}
.btn-main{
    font-size:16px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 4px 19px -5px rgb(92 92 92);
    background-image: linear-gradient(50deg, lightsalmon, tomato);
    width: 85%;
    margin: 5px 0px;
    border: 1px solid transparent;
    padding: 8px;
    cursor: pointer;
}
/**********************
 Footer section css code start from here 
 **********************/
#footer{
    margin-top: 40px;
    padding: 40px 0px 60px 0px;
    background-color: black;
    text-align: center;
} 
#footer h2{
    color: #575757;
    padding-bottom: 20px;
} 
#footer h2 span{
    color: rgb(253, 79, 10);
}  
#footer p{
    color: white;
}
 /**********************
 Footer section css code end here 
 **********************/